.background {
  background-color: #E5E5E5;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addItemPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addItemPage h1 {
  font-family: 'Arial Rounded MT Bold';
  font-weight: 800;
  font-size: 30px;
  line-height: 55px;
  text-align: center;
  color: #242F40;
  margin: 4%;
}

.card2{
width: 400px;
height: 50%;
background: #CCA43B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
margin-top: 5%;
display: flex;
flex-direction: column;
align-items: center;
}

.inputField {
  background-color: #363636;              
  font-size: 14px;   
  font-family: 'Arial Rounded MT Bold';
  font-style: italic;  
  border: none;               
  padding: 10px;             
  border-radius: 8px; 
  margin-bottom: 5%;
  margin-top: -10px;
}

.inputField::placeholder{
  color: #FDB62C;
}

.addButton{
  width: 60px;
  height: 30px;
  background:#242F40;
  border-radius: 10px;
  cursor: pointer;

  font-family: 'Arial Rounded MT Bold';
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 27px;
  color: #E5E5E5;

  margin-left: 10px;

}



.addButton:hover{
  background-color:#053046;
  transform: scale(1.1);
  color:#FDB62C;
}

.listItem {
  font-family: 'Arial Rounded MT Bold';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 27px;
  color: #053046;
  margin-left: 5px;
}
